

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container img {

    margin: 10px;
  }
  
  .container .text {

    margin: 10px;
  /*  text-align: justify; */
  }
  