

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container img {
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-left: 100px; /*to create space between image and text
                        but you have to cancel it for smaller screens the margin is not needed*/
  }
  
  .container .text {

    margin: 10px;
    margin-right: 100px; /*to create space between image and text 
                        but you have to cancel it for smaller screens the margin is not needed*/

  }
  